
.ref-group { margin: 15px 25px; }
.ref-index { float: left; }
.ref-body { margin-left: 40px; }
.ref-author {}
.ref-title { font-style: italic; }
.ref-pub {}
.ref-year {}
.ref-volume { font-weight: bold; }
.ref-number {}
.ref-page {}

