
#sunburst-nav-msg {
    position: absolute;
    display: block;
    width: 90%;
    height: 25px;
    margin: 0px auto;
    padding-top: 8px;
    border-radius: 5px;
    background-color: #007fff;
    border: 1px solid #777;
    text-align: center;
    color: #000;
    font-weight: bold;
    top: 0;
}

