<?php
////////////////////////////////////
//                                              
//      EFI GNN
//      settings.inc.php                        
//                                              
//      Settings for the scripts
//                                              
//      David Slater                            
//      May 2014                                
//                                              
////////////////////////////////////

//
// PATHS
define("__OUTPUT_DIR__","");
define("__UPLOAD_DIR__","");
define("__LOG_FILE__","");
define("__WEB_PATH__","");
define("__WEB_ROOT__","");
define("__METAGENOME_DB_LIST__","");

//
// FILE INFO
define("__RELATIVE_OUTPUT_DIR__","");
define("__QUANTIFY_REL_OUTPUT_DIR__","");
define("__VALID_FILE_TYPE__","xgmml zip");
define("__HTTP_OUTPUT_DIR__","results");

//
// DATABASE
define("__MYSQL_HOST__","");
define("__MYSQL_USER__","");
define("__MYSQL_PASSWORD__","");
define("__MYSQL_DATABASE__","");

//
// UI PARAMETERS
define("__TITLE__","EFI/ShortBRED");
define("__ENABLE_DIAMOND__",false);

//
// JOB SCHEDULING PARAMETERS
define("__CLUSTER_USER__","");
define("__IDENTIFY_SCRIPT__","");
define("__QUANTIFY_SCRIPT__","");
define("__SHORTBRED_BLAST_MODULE__","shortbred/devlocal");
define("__SHORTBRED_DIAMOND_MODULE__","shortbred/diamond/devlocal");
define("__EFI_DB_MODULE__","");
define("__ENABLE_LOG__",true);
define("__NUM_PROCESSORS__",24);

?>
