<?php
////////////////////////////////////
//                                              
//      Settings for the scripts
//                                              
////////////////////////////////////

require_once(__DIR__."/../../conf/settings_base.inc.php");
require_once(__DIR__."/../../conf/settings_paths.inc.php");

// Options that are marked [MANDATORY] in the comment must be set
// Options that are marked [OPTIONAL] in the comment can be set
// Options that are not commented SHOULD PROBABLY NOT BE CHANGED UNLESS YOU ARE GANDALF.


////////////////////////////////////////////////////////////////////////////////////////////////////
// MANDATORY OPTIONS

define("__OUTPUT_DIR__",__BASE_RESULTS_DIR__."/gnt_gnn");           // Where output results are stored [MANDATORY]
define("__DIAGRAM_OUTPUT_DIR__",__BASE_RESULTS_DIR__."/gnt_gnd");   // Where GND output results are stored [MANDATORY]
define("__UPLOAD_DIR__",__MAIN_UPLOAD_DIR__."/gnt");                // Where uploaded files are temporarily stored [MANDATORY]
define("__LOG_FILE__",__MAIN_LOG_DIR__."/gnt_log.txt");             // Log file [MANDATORY]
// Sort of a hack...
define("__SUPERFAMILY_DIR__","");


////////////////////////////////////////////////////////////////////////////////////////////////////
// ADVANCED OPTIONS

//
// PATHS
//
define("__SYNC_OUTPUT_DIR__","");
define("__WEB_PATH__",__GNT_WEB_PATH__);
define("__WEB_ROOT__",__BASE_WEB_ROOT__."/".__WEB_PATH__);
define("__CGFP_WEB_ROOT__",__CGFP_WEB_PATH__);

//
// FILE INFO
// If you want sub directories to be differently these can be changed (not recommended)
// Create symlinks for these three to the OUTPUT_DIRs above
define("__RELATIVE_OUTPUT_DIR__","results");
define("__RESULTS_EXAMPLE_DIRNAME__","results_example");
define("__RELATIVE_DIAGRAM_OUTPUT_DIR__","gnd_results");
define("__VALID_FILE_TYPE__","xgmml zip");
define("__VALID_DIAGRAM_FILE_TYPE__","sqlite");
define("__VALID_ID_FILE_TYPE__","txt fasta");

//
// UI PARAMETERS
define("__TITLE__","EFI GNT");
define("__ENABLE_BIGSCAPE__",false);
define("__ENABLE_INTERPRO__",true);
define("__NUM_DIAGRAMS_PER_PAGE__",200);

//
// JOB SCHEDULING PARAMETERS
define("__GNN_SCRIPT__","submit_gnn.pl");
define("__SYNC_GNN_SCRIPT__","cluster_gnn.pl");
define("__PROCESS_DIAGRAM_SCRIPT__","submit_diagram.pl");
define("__PROCESS_BIGSCAPE_SCRIPT__","submit_bigscape.pl");

//
// DEFAULTS
define("__DEFAULT_NEIGHBOR_SIZE__",10);
define("__COOCCURRENCE__",20);
define("__DEFAULT_EVALUE__","5");
define("__DEFAULT_NUM_BLAST_SEQ__","200");
define("__MAX_NUM_BLAST_SEQ__","500");
define("__DEFAULT_NEIGHBORHOOD_SIZE__","10");

define("__SYNC_KEYS__","");

