
input.email {
    width: 50%;
    font-style: italic;
    font-size: 1.1em;
}

input[type="text"] {
    font-size: 125%;
    padding: 6px;
}

select.bigger {
    font-size: 1.1em;
}

input[type=checkbox].bigger {
    transform: scale(1.5);
}

