/* Sticky footer styles
-------------------------------------------------- */
html {
/*    position: relative;*/
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin-top: 70px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #312A25;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    line-height: 70px; /* Vertically center the text there */
    background-color: #f5f5f5;
    padding-right: 55px;
    border-bottom: 1px solid #312A25;
}


#sidebar-wrapper {
    height: calc(100% - 130px);
    font-size: 1.2em;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    /*  max-width: 980px;*/
    padding: 0 55px;
}

.button-wrapper {
    vertical-align: middle;
    padding-top: 15px;
}

.button-wrapper .btn-default {
    background-color: #ddd;
}

.diagram-count {
    padding-top: 8px;
}

.search-wrapper {
    vertical-align: middle;
}

.header-title {
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.header-metadata {
    vertical-align: middle;
}

.header-metadata div {
    line-height: 23px;
}


.header-form {
    margin: 0;
}


.hidden {
    display: none;
}

.hidden-placeholder {
    visibility: hidden;
}

.initial-hidden {
    display: none;
}

.disabled {
    color: #999;
    cursor: not-allowed;
}

.col-centered {
    margin: 0 auto;
}



/* Arrows */

.diagram-title {
    font-size: 1.1em;
}


/* Menu */

.fa-toggle-size {
    font-size: 27px !Important;
}

#toggle-icon-right {
    margin-right: -6px;
}

#advanced-search-panel button {
    color: #111;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

#advanced-search-panel {
    line-height: 1.3em;
}

#advanced-search-panel textarea {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #000;
    width: 100%;
}

.sidebar-nav li {
    margin-top: 15px;
}

.sidebar-header {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
}


/* Filter Controls */

.filter-container {
/*    border-top: 1px gray dashed;*/
/*    border-bottom: 1px gray dashed;*/
    text-align: left;
    overflow: auto;
    line-height: 1em;
}

.filter-cb-toggle-div {
    margin-top: 5px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
}

.filter-cb-toggle-text {
    font-weight: normal;
}

.filter-cb-div {
    line-height: 1em;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 4px;
    white-space: nowrap;
/*    text-overflow: ellipsis;*/
    overflow: hidden;
}

input.filter-cb {
    margin-right: 5px;
}

#filter-clear {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height: 2em;
}

.filter-cb-number label {
    font-weight: normal;
}

.filter-tabs {
    overflow: hidden;
    border: 1px solid #999;
    background-color: #333;
}

.filter-tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    transition 0.1s;
    font-size: 85%;
    font-weight: bold;
}

.filter-tabs button:hover {
    background-color: #999;
}

.filter-tabs button.filter-tab-active {
    background-color: #666;
}

.filter-small {
    font-size: 65%;
}

.tooltip.top .tooltip-inner {
    background-color: #999;
}

.tooltip.in {
    opacity: 1!important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #999;
}

#active-filter-list {
    padding-left: 5px;
    overflow: auto;
    max-height: 10em;
    width: 100%;
}

#active-filter-list div {
    margin: 10px 0 0 0;
    line-height: 1em;
}

.active-filter-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.tool-button {
    width: 75%;
    text-align: left;
    color: #000;
}

.sidebar-nav li button i {
    color: #333;
}

.sidebar-nav li i {
    color: #aaa;
}

#window-tools select {
    color: #333;
}


/* Arrows */

.an-arrow {
}

.an-arrow-mute {
    opacity: 0.4;
}

.an-arrow-selected {
    opacity: 1.0;
    stroke: #000;
    stroke-width: 3;
}

.an-arrow-bold {
    opacity: 1.0;
    stroke: red;
/*    stroke-dasharray: 1;*/
    stroke-width: 5;
}

.dashed-arrow {
    stroke-dasharray: 3;
}


.auto {
    width: auto;
}
.zoom-btn {
    width: auto;
}


/* Popup */

.info-popup {
    position: absolute;
    padding: 5px;
    padding-right: 15px;
    background-color: #555;
    color: #fff;
}

.info-popup a {
    color: SkyBlue;
    text-decoration: underline;
}

.info-popup-group {
    margin-top: 9px;
}

.info-popup-group .info-hdr {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}

#copy-info {
    float: right;
    padding-top: 5px;
    font-size: 1.4em;
    cursor: pointer;
}


/* Startup */

#start-info {
    font-size: 3em;
    position: fixed;
    left: 380px;
    top: 110px;
    vertical-align: text-top;
    display: none;
}

#start-info i {
    font-size: 5em;
}



/* Loader */

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid blue;
  border-bottom: 6px solid blue;
  width: 32px;
  height: 32px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 15px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader-message {
    padding: 10px;
    background-color: white;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
}

.progress {
    margin-top: 10px;
    height: 20px;
    width: 70%;
}

.progress-bar {
    color: black;
}


/* Overloads */

#uniprot-ids-modal .modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

#unmatched-ids-modal .modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

.alert {
/*    display: none;*/
}

.new-features-alert {
    position: fixed;
    top: 100px; 
    width: 600px;
    left: 350px;
}

.panel-default > .panel-heading {
    cursor: pointer;
    background-color: #51453d;
}
a.accordion-toggle:hover {
    text-decoration: none;
}
a.accordion-toggle {
    font-weight: bold;
    color: #fff;
}
.filter-panel.panel-body {
    padding: 2px 2px;
    background: #312A25;
    color: white;
}
.accordion-arrow {
    color: white;
    font-size: 80%;
}

