
/* Set colors */

h1 {
    color: #005591;
}

h1.ruled {
    border-bottom-color: #005591;
}

a, .ui-widget-content a {
    color: #005591;
}

.footer a:link, .footer a:visited {
    color: #005591;
}



.create-job-options div {
    margin-bottom: 10px;
}

.create-job-options table {
    border: 0;
}

.create-job-options table td {
    padding: 0 10px 10px 0;
}



table.pretty td.file-header-row {
    font-weight: bold;
    height: 40px;
    font-size: 1.15em;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

table.pretty td.file-header-row-first {
    border-top: 0;
}

table.no-border {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

tr.file-row {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}


