<?php
////////////////////////////////////
//                                              
//      Settings for the scripts.               
//                                              
////////////////////////////////////

require_once(__DIR__ . "/../../conf/settings_base.inc.php");
require_once(__DIR__."/../../conf/settings_paths.inc.php");
require_once(__DIR__ . "/settings_shared.inc.php");

// Options that are marked [MANDATORY] in the comment must be set
// Options that are marked [OPTIONAL] in the comment can be set
// Options that are not commented SHOULD PROBABLY NOT BE CHANGED UNLESS YOU ARE GANDALF.

////////////////////////////////////////////////////////////////////////////////////////////////////
// MANDATORY OPTIONS

define("__LOG_FILE__",__MAIN_LOG_DIR__."/est_log.txt"); // Set this to a file that HTTPD can write to 
define("__UPLOADS_DIR__",__MAIN_UPLOAD_DIR__."/est");   // Set this to a directory that HTTPD can write to 


////////////////////////////////////////////////////////////////////////////////////////////////////
// ADVANCED OPTIONS

//
// SYSTEM SETTINGS
define("__TITLE__","EFI-EST");
define("__WEB_PATH__",__EST_WEB_PATH__);
define("__WEB_ROOT__",__BASE_WEB_ROOT__.__WEB_PATH__);
define("__GNT_WEB_ROOT__",__BASE_WEB_ROOT__.__GNT_WEB_PATH__);
define("__CGFP_WEB_ROOT__",__BASE_WEB_ROOT__.__CGFP_WEB_PATH__);
define("__JS_VERSION__","");

//
// CLUSTER SETTINGS
define("__GENERATE_QUEUE__",__NORMAL_QUEUE__);
define("__ANALYSE_QUEUE__",__NORMAL_QUEUE__);
define("__CLUSTER_PROCS__","48");
define("__BLASTHITS_PROCS__",12);
define("__RESULTS_DIRNAME__","results");
define("__RESULTS_EXAMPLE_DIRNAME__","results_example");

define("__UPDATE_MESSAGE__","");

//
// UI SETTINGS
// Maximum number of SSN nodes that are supported (parameter that is passed to the backend tools)
define("__MAX_NUM_SNN_NODES__",100000);
define("__ENABLE_PROGRAM_SELECTION__",false);
define("__ENABLE_OPTION_A_FAMILIES__",true);
define("__FASTA_FILETYPES__","txt fasta fa zip");
define("__ACCESSION_FILETYPES__","txt");
define("__COLORSSN_FILETYPES__","xgmml zip");
define("__NO_MATCHES_FILENAME__", "no_accession_matches.txt");
define("__TEMP_FASTA_ID_FILENAME__", "fasta.ids");
// At some point in the future (e.g. after summer 2020) we will upgrade the EFI results graph code; when this happens set this to false
define("__USE_LEGACY_GRAPHS__",true);
define("__ENABLE_CUSTOM_CLUSTERING__",false);
define("__FILE_SIZE_GRAPH_ENABLED__",false);
define("__DEFAULT_CREATE_REPNODE_NETWORKS__",true);

define("__COLORSSN_MAP_DIR_NAME__","cluster-data");
define("__COLORSSN_MAP_FILE_NAME__","mapping_table.txt");
define("__COLORSSN_DOMAIN_MAP_FILE_NAME__","domain_mapping_table.txt");
define("__ACC_COUNT_FILENAME__","acc_counts.txt");
define("__CDHIT_STATS_FILE__","cdhit.stats");

define("__USER_LIST_KEY__","");

