<?php
////////////////////////////////////
//                                              
//      Settings for the scripts
//                                              
////////////////////////////////////

require_once(__DIR__."/../../conf/settings_base.inc.php");

// Options that are marked [MANDATORY] in the comment must be set
// Options that are marked [OPTIONAL] in the comment can be set
// Options that are not commented SHOULD PROBABLY NOT BE CHANGED UNLESS YOU ARE GANDALF.

////////////////////////////////////////////////////////////////////////////////////////////////////
// MANDATORY OPTIONS

define("__LOG_FILE__","");


////////////////////////////////////////////////////////////////////////////////////////////////////
// ADVANCED OPTIONS

define("__WEB_PATH__",__BASE_WEB_PATH__."/users");
define("__WEB_ROOT__",__BASE_WEB_ROOT__."/".__WEB_PATH__);

//
// DATABASE
define("__EFI_GNT_GNN_TABLE__","gnn");
define("__EFI_GNT_DIAGRAM_TABLE__","diagram");
define("__EFI_EST_TABLE__","generate");
define("__EFI_SHORTBRED_TABLE__","identify");

//
// UI PARAMETERS
define("__TITLE__","EFI/User Administration");

