<?php
////////////////////////////////////
//                                              
//      These settings are used by shared code in other parts of the website.
//                                              
////////////////////////////////////

define("__EVALUE__","5");
define("__FRACTION_DEFAULT__",1);
define("__MINIMUM__",0);
define("__MAXIMUM__",50000);
define("__MAX_SEQ__",100000);
define("__MAX_BLAST_SEQ__",10000);
define("__DEFAULT_BLAST_SEQ__",1000);
define("__MAX_FULL_FAMILY_COUNT__",25000);
define("__ENABLE_E__",false);

